/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 nov. 2020, 22:41:31
    Author     : vitor
*/



#iconsrs-center
{
    position:absolute; 
    down:50%; 
    left: 30%; 
    margin:-25px 0 0 -25px;
}

#div-relative 
{
    position: relative;
}



#tamanhoicon-menu
{
    width: 50px;
    height:50px;
}


#span-title-softdiet
{
    display: inline-block; 
    margin-left:5px;
}


#titulosecpag_pprato
{
    text-align:center;
}

#divformulario-pprato
{
    width:100%;
    height:200px;
}

#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}